<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="loginform">
    <div class="alert alert-danger" th:if="${param.error}">
        Invalid username and password.
    </div>
    <div class="alert alert-warning" th:if="${param.logout}">
        You have been logged out.
    </div>

<form th:action="@{/login}" method="post">
        <div><label class="label"> name: <input type="text" name="username" class="form-control"/> </label></div>
        <div><label class="label"> password: <input type="password" name="password" class="form-control"/> </label></div>
        <div><input type="submit" value="Sign In" class="button2"/>
        <input type="button" class="button2" onclick="location.href='/signup';" value="Sign up"/></div>

    </form>
</div>

</body>
</html>
